<div class="jumbotron">
  <h1>Fitness Time App</h1>
  <p class="lead">Bienvenido a fitness time una aplicación para gestionar tu vida fitness. Si todavía no sos usuario, <a href="<%= url(:usuarios, :nuevo) %>" >registrate</a> y se parte!</p>
</div>
