<div class="jumbotron">
  <h1>Fitness Time App</h1>
  <p class="lead">Bienvenido a fitness time una aplicación para administrar tus rutinas del gimnasio. Si todavía no sos usuario, <a href="<%= url(:usuarios, :nuevo) %>">registrate</a> y descubrila.</p>
</div>
