<h2>Estadisticas de rutinas</h2>

<% if $estadisticas.length == 0 %>
  <div >
    <div class="orange">
          <p>No tiene ejercicios con marcas</p>
        </div>
    </div>
<% end%> 

<% $estadisticas.each do |estadistica| %>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= estadistica['rutina']['descripcion'] %></h3>
  </div>
  <div class="panel-body">
    <%= line_chart estadistica['ejercicioMarcas'].map { |ejercicioMarcas| 
	  {
	    name: ejercicioMarcas['ejercicio']['nombre'], data: ejercicioMarcas['marcas'] 
	  } 
	},xtitle: "Marcas", ytitle: "Cargas", stacked: true %>
  </div>
</div>

<%end%>


